<div id="container" style="background-image: url('/img/{{backgroundImage}}.jpg')">
    <h2>Welcome to {{title}}</h2>
    <div id="views">
        <div id="place" style="background-image: url('/img/{{tilesBackground}}.jpg')"></div>
        <div id="player" style="background-image: url('/img/{{tilesBackground}}.jpg')"></div>
    </div>

    <div id="messages" style="background-image: url('/img/{{tilesBackground}}.jpg')"></div>

    <div id="controls">
        <input type="text" id="txtCommand" />
        <button id="btnCommand">Submit</button>
    </div>
</div>

{{#section 'clientSideScripts'}}
        <script src="/helpers/map.js"></script>

        <script src="/model/place.js"></script>
        <script src="/model/player.js"></script>

        <script src="/views/player.js"></script>
        <script src="/views/place.js"></script>
        <script src="/views/message.js"></script>

        <script src="/game/gameController.js"></script>
        <script src="/game/commandTranslator.js"></script>
        <script src="/adventureInit.js"></script>
{{/section}}