<h1 style="background-image: url('img/{{tilesBackground}}.jpg')">Welcome to {{title}}</h1>
<div id="views">
    <div id="place" style="background-image: url('img/{{tilesBackground}}.jpg')">{{> place}}</div>
    <div id="player" style="background-image: url('img/{{tilesBackground}}.jpg')">{{> player}}</div>
</div>

<div id="messages" style="background-image: url('img/{{tilesBackground}}.jpg')"></div>

<div id="controls">
    <input type="text" id="txtCommand" />
    <button id="btnCommand">Submit</button>
</div>