<!doctype html>
<html>
    <head>
        <title>The Crypt</title>
        <link rel="stylesheet" href="/css/thecrypt.css">
        <script src="js/handlebars.min.js"></script>
        <script src="js/jquery-3.1.1.min.js"></script>

        {{{_sections.clientSideScripts}}}
<!--
        <script src="/helpers/map.js"></script>

        <script src="/model/place.js"></script>
        <script src="/model/player.js"></script>

        <script src="/views/player.js"></script>
        <script src="/views/place.js"></script>
        <script src="/views/message.js"></script>

        <script src="/game/gameController.js"></script>
        <script src="/game/commandTranslator.js"></script>
        <script src="/adventureInit.js"></script>
-->
        <script src="/views/newAdventure.js"></script>
        <script src="/home/homeController.js"></script>
        <script src="/homeInit.js"></script>
        
        <!-- Templates for the Handlebars Client Side Views -->		  
		<script type="text/x-template" id="playerTemplate">
			<h3>\{{name}}</h3>
			<p>\{{health}}</p>
			  
			<ol id="playerItems">
                \{{#each items}}
                    <li>\{{item}}</li>
                \{{/each}}
            </ol>
		</script>
		  
		<script type="text/x-template" id="placeTemplate">
			<h3>\{{title}}</h3>
			<p>\{{description}}</p>
			  
			<div class="placePanel">
				<h4>Items</h4>
				<ol id="placeItems">
                    \{{#each items}}
                        <li>\{{item}}</li>
                    \{{/each}}
                </ol>
			</div>
			  
			<div class="placePanel">
				<h4>Exits</h4>
				<ol id="placeExits">
                    \{{#each exits}}
                        <li>\{{exit}}</li>
                    \{{/each}}
                </ol>
			</div>
		</script>
		  
		<script type="text/x-template" id="messageTemplate">
			<p>*** \{{message}} ***</p>
		</script>

        <script type="text/x-template" id="newAdventureTemplate">
            <h3>You have chosen \{{adventureDetails.adventure}}</h3>
            <p>\{{adventureDetails.description}}</p>
            <p><img src="img/\{{adventureDetails.image}}.jpg" alt=""></p>
            <br>
            <div id="controls">
                <button id="btnCommand">Enter ...</button>
            </div>
        </script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>